*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html ,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #f2f2f2;
}
.login{
   width: 380px; 
   background: #fff;
   border-radius: 15px;
   box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}
.login .Forms{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    line-height: 100px;
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(-135deg,#c850c0,#4158d0);

}
.login form{
    padding: 10px 30px 50px 30px;
    
}
.login form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.login form .field input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid lightgrey;
}
.login form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 15px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}
.login form .field input:focus ~ label,.login form .field input:valid ~ label{
    top: 0%;
    transform: translateY(-50%);
    background: #fff;
    font-size: 15px;
    color: #4158d0;
}
.login form .field input[type="submit"]{
    color: #fff;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    font-size: 20px;
    font-weight: 300;
    border: none;
    padding-left: none;
    cursor: pointer;

}
.login form .field input[type="submit"]:active{
    transform: scale(0.95);
    transition: all 0.3s ease;

}